<div class="row align-items-center my-5">
    <div class="col">
        <a href="/" class="text-decoration-none">
            <h1 class="m-0 fw-bold" style="letter-spacing: 3px"><%- config.title %></h1>
        </a>
    </div>

    <div class="col-auto d-flex justify-content-end">
        <div onclick=setDarkMode('dark') class="btn btn-outline-link p-0 fs-3 border-0 show-light" tabindex="0">☀️</div>
        <div onclick=setDarkMode('light') class="btn btn-outline-link p-0 fs-3 border-0 show-dark">🌙</div>
    </div>
</div>
