<div class="row d-flex mb-4">
    <div class="col">
        <h2 class="m-0 fw-bold" style="color: var(--title-color)"><%- page.title %></h2>
        <small><%- full_date(page.date, 'LL') %><span class="mx-2">·</span><%- symbolsTime(page) %></small>
    </div>
</div>

<%- page.content %>

<div class="mt-5 comments-container d-flex flex-column align-items-center justify-content-center"
     style="min-height: 269px">
    <div class="spinner-grow" role="status"></div>
    <div class="utterances-container hide-on-loading"></div>
</div>
