[data-theme="light"] {
    --font-color: #424242;
    --bg-color: #fff;
    --prism-bg: #e3eaf2;
    --prism-bg-selection: #8da1b9;
    --prism-ln-color: #3c526d;
    --prism-font-color-1: #111b27;
    --prism-font-color-2: #006d6d;
    --prism-font-color-3: #755f00;
    --prism-font-color-4: #005a8e;
    --prism-font-color-5: #116b00;
    --prism-font-color-6: #af00af;
    --prism-font-color-7: #7c00aa;
    --prism-font-color-8: #a04900;
    --prism-font-color-9: #c22f2e;
}

[data-theme="dark"] {
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --prism-bg: #111b27;
    --prism-bg-selection: #3c526d;
    --prism-ln-color: #8da1b9;
    --prism-font-color-1: #e3eaf2;
    --prism-font-color-2: #66cccc;
    --prism-font-color-3: #e6d37a;
    --prism-font-color-4: #6cb8e6;
    --prism-font-color-5: #91d076;
    --prism-font-color-6: #f4adf4;
    --prism-font-color-7: #c699e3;
    --prism-font-color-8: #e9ae7e;
    --prism-font-color-9: #cd6660;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: var(--bg-color);
    color: var(--font-color);
    transition: background-color .3s ease-in-out;
}

[data-theme="light"] .show-light {
   display: inline-block;
}

[data-theme="light"] .show-dark {
    display: none;
}

[data-theme="dark"] .show-light {
    display: none;
}

[data-theme="dark"] .show-dark {
    display: inline-block;
}

.utterances {
    max-width: none;
}